.borleft1 {
    border-left: 1px solid var(--border-color);
}

.bortom1 {
    border-bottom: 1px solid var(--border-color);
}

.bortop1 {
    border-top: 1px solid var(--border-color);
}

.boxedEl1 {
    border: 1px solid var(--border-color);
}

.boxedEl2 {
    border: 2px solid var(--border-color);
}

.boxedEl3 {
    border: 1px solid var(--border-color);
}

.boxedEl4 {
    border: 2px solid var(--border-color);
}

.borrad5 {
    border-radius: 5px;
}

.borrad10 {
    border-radius: 10px;
}

.borrad15 {
    border-radius: 15px;
}

.borrad20 {
    border-radius: 20px;
}

.borrad25 {
    border-radius: 25px;
}

.borradMAX {
    border-radius: 1080px;
}

.nobor {
    border: none;
}
