#heroBannerBg {
    height: 1000%;
	width: 150%;
    background: linear-gradient(239deg, #ff7171, #b233ff);
    animation: gradient 3s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
