@import url('./css/spacings.css');
@import url('./css/font-sizes.css');
@import url('./css/positioning.css');
@import url('./css/borders.css');
@import url('./css/buttons.css');

:root {
    --font-mono: ui-monospace, 'JetBrains Mono', Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
                'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
                'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --tColor: #242424;
    --html-background: #f5f5f5;
    --border-color: #dddddd;
    --light: #ffffff;
    --soft: #9f9f9f;
    --pagePadding: 30px;
    --transitionSpeed: 0.15s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Satoshi';
    color: var(--tColor);
    transition: var(--transitionSpeed) ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -o-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Variable.woff2);
}

@font-face {
    font-family: 'Satoshi Italic';
    src: url(../fonts/Satoshi/Fonts/WEB/fonts/Satoshi-VariableItalic.woff2);
}

html,
body {
    min-height: 100vh;
    position: relative;
    background: var(--html-background);
    color: var(--tColor);
    
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --html-background: #121212;
        --tColor: #dfdfdf;
        --border-color: #3a3a3a;
        --light: #393939;
    }
    
    html {
        color-scheme: dark;
    }
}

main {
    min-height: 720px;
}

.hideOverflow {
    overflow: hidden;
}

.scrollVOnly {
    overflow-y: scroll;
}

.scrollHOnly {
    overflow-x: scroll;
}

.pagePadding {
    padding-left: var(--pagePadding);
    padding-right: var(--pagePadding);
}

#pageWrapper {
    /* Jangan lupa diganti calc(100vw - ??px) nya kalo suatu waktu diubah paddingnya */
    width: min(1080px, calc(100vw - 2 * var(--pagePadding)));
}

.code {
    font-weight: 700;
    font-family: var(--font-mono);
}

#navspan {
    height: 100px;
    align-items: flex-end;
}

#navspanButton {
    background: none;
    border: none;
    text-decoration: underline;
    letter-spacing: 0.2px;
    vertical-align: baseline;
    cursor: pointer;
}

.textColored {
    fill: var(--tColor);
}

.flex {
    display: flex;
}

.verti {
    display: flex;
    flex-direction: column;
}

.hori {
    display: flex;
    flex-direction: row;
}

.fullH {
    height: 100%;
}

.fullW {
    width: 100%;
}

.grow1 {
    display: flex;
    flex-grow: 1;
}

.grow2 {
    display: flex;
    flex-grow: 2;
}

.visibleWhenHovered {
    visibility: hidden;
    transition: var(--transitionSpeed) ease-in-out;
}

.visibleWhenHoveredAffectedComponent {
    transform: translateY(2px);
    transition: var(--transitionSpeed) ease-in-out;
}

.visibleWhenHoveredTrigger:hover > .visibleWhenHovered {
    visibility: visible;
}

.visibleWhenHoveredTrigger:hover > .visibleWhenHoveredAffectedComponent {
    transform: translateY(-3px);
}

@media (prefers-reduced-motion) {
    * {
        transition: none;
    }
    
    .visibleWhenHovered {
        transition: none;
    }
    
    .visibleWhenHoveredAffectedComponent {
        transition: none;
    }
}