#navbar {
    border-bottom: 1px solid var(--border-color);
    background: var(--html-background);
    position: sticky;
    top: 0;
}

@media (prefers-color-scheme: light) {
    #navbar {
        border-bottom: 0;
        box-shadow: 1px 8px 16px -8px rgba(22, 22, 25, 0.1);
        -webkit-box-shadow: 1px 8px 16px -8px rgba(22, 22, 25, 0.1);
        -moz-box-shadow: 1px 8px 16px -8px rgba(22, 22, 25, 0.1);
    }
}